name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  JULIA_CI: 'true'
  JULIA_NUM_THREADS: 'auto'
  OPENBLAS_NUM_THREADS: '1'

jobs:
  execute:
    strategy:
      fail-fast: false
      matrix:
        julia-ver: ['1.10', '1.12']
        mtk_ver: ['10', '11']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-ver }}
          show-versioninfo: 'true'
      - name: Cache Julia packages
        uses: actions/cache@v5
        with:
          path: ~/.julia
          key: ${{ runner.os }}-julia${{ matrix.julia-ver }}-mtk${{ matrix.mtk_ver }}-${{ github.run_number }}
          restore-keys: |
            ${{ runner.os }}-julia${{ matrix.julia-ver }}-mtk${{ matrix.mtk_ver }}-
      - name: Install Julia packages
        shell: julia --color=yes {0}
        run: |
          using Pkg
          Pkg.Registry.update()
          Pkg.add([PackageSpec(name="ModelingToolkit", version="${{ matrix.mtk_ver }}"), PackageSpec("OrdinaryDiffEq")], preserve=PRESERVE_NONE)
          Pkg.status(PKGMODE_MANIFEST)
      - name: Execute notebook
        run: julia test.jl
