name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  JULIA_CI: 'true'
  JULIA_NUM_THREADS: 'auto'
  OPENBLAS_NUM_THREADS: '1'

jobs:
  execute:
    strategy:
      fail-fast: false
      matrix:
        julia-ver: ["1.10", "1.12"]
        mtk_ver: ["10", "11"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-ver }}
          arch: ${{ runner.arch }}
          show-versioninfo: 'true'
      - name: Install Julia packages
        shell: julia --color=yes {0}
        run: |
          using Pkg
          Pkg.add([PackageSpec(name="ModelingToolkit", version="${{matrix.mtk_ver}}"), PackageSpec("OrdinaryDiffEq")])
          Pkg.status(PKGMODE_MANIFEST)
      - name: Execute notebook
        run: julia test.jl
